<h1>Diário</h1>
<% @turmas.each do |turma| %>
  <h3><%= turma.nome %></h3>
    <% turma.alunos.each do |aluno|  %>
      <ul data-id=<%= aluno.id %>  class="nav tabs nav-tabs list-inline alunos" data-tabs="tab-content">
         <li class="active aluno"><%= aluno.nome  %></li>
          <% NO_DIARIO_VERIFICA.each do |opcao| %>
            <li >
              <a href="#<%= ideize(opcao)  %>" data-toggle="<%= ideize(opcao)  %>">
                <%= image_tag  ideize(opcao)+".png", class: "small" %>
              </a>
              <div></div>
            </li>
          <% end %>
        </ul></span>
    <% end %>
  </ul>
<% end  %>
<div class="tab-content">
  <% NO_DIARIO_VERIFICA.each do |painel|  %>
    <div class="tab-pane" id="<%= ideize(painel)  %>">
      <%= render :partial => ideize(painel) %>
    </div>
  <% end  %>
</div>
